<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1a8d5">  <td>18/07/07 14:35:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Apache_POI_TC.DemoToursSignIn()[pri:0, instance:ExcelPractice.Apache_POI_TC@646db9]">DemoToursSignIn</td> 
  <td>main@18550058</td>   <td></td> </tr>
<tr bgcolor="a1a8d5">  <td>18/07/07 14:35:58</td>   <td>8640</td> <td>&nbsp;</td><td title="&lt;&lt;Apache_POI_TC.afterTest()[pri:0, instance:ExcelPractice.Apache_POI_TC@646db9]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18550058</td>   <td></td> </tr>
<tr bgcolor="a1a8d5">  <td>18/07/07 14:35:40</td>   <td>-9301</td> <td>&nbsp;</td><td title="&gt;&gt;Apache_POI_TC.beforeTest()[pri:0, instance:ExcelPractice.Apache_POI_TC@646db9]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18550058</td>   <td></td> </tr>
</table>
