<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="718b94">  <td>18/06/29 16:17:54</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Apache_POI_TC.afterTest()[pri:0, instance:ExcelPractice.Apache_POI_TC@3869f4]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@28721761</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>18/06/29 16:17:23</td>   <td>-30720</td> <td>&nbsp;</td><td title="&gt;&gt;Apache_POI_TC.beforeTest()[pri:0, instance:ExcelPractice.Apache_POI_TC@3869f4]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@28721761</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>18/06/29 16:17:47</td>   <td>-6930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Apache_POI_TC.f()[pri:0, instance:ExcelPractice.Apache_POI_TC@3869f4]">f</td> 
  <td>main@28721761</td>   <td></td> </tr>
</table>
